@import "mixin";
///Componentes pequeños especificar fuera y luego usar @extend
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 0.75em;
    font-family: Arial;
}

h3 {
    font-size: 1.9em;
    color: #333333;
    font-weight: normal;
    display: inline-block;
    cursor: default;
    line-height: 1.0965em;
    margin-bottom: 0.2193em;
}

//aqui porcentaje y min-width
.centrado {
    width: 72.5em;
    margin: 0 auto;
}

#menuEspecial {
    display: block;
    overflow: hidden;
    margin: 0.5em 0 0.5em;

    ul {
        background-color: #ccc;
        text-align: right;
        margin: 0.1em 0;
    }

    li {
        display: inline;
        overflow: auto;
    }

    a {
        color: #666;
        padding: 0 0.8em;
        text-decoration: none;
        font-weight: bold;
    }

    .logo {
        background-color: #fff;
        float: right;
        padding: 0 0 0 1em;

        h1 {
            display: inline;
        }

        a {
            background: url(../img/logo_navarra.gif) left top no-repeat;
            width: 120px;
            height: 0.506em;
            display: block;
        }

        span {
            display: none;
        }
    }
}

.cerrar-Sesion {
    float: right;
    margin-top: 2em;
    text-decoration: none;
    margin-right: 0.833em;
}

//pendiente
.pasos {
    height: 15px;
    background-color: #333333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    position: relative;
    //cambiar.
    width: 72.5em;
    margin: 0 auto;

    nav {
        width: 85%;
        float: right;

        .activo {

            .numero {
                border-radius: 2.281em;
                width: 2.281em;
                height: 2.281em;
                line-height: 2.105em;
                background-color: white;
                color: #d60000;
                border-width: 0.175em;
                font-size: 1.9em;
                font-weight: bold;
                top: -0.789em;
                margin-left: -1.140em;

                &:hover {
                    -webkit-transform: none;
                    -moz-transform: none;
                    transform: none;
                }
            }

            .texto {
                padding-top: 3.333em;
                font-weight: bold;
            }
        }

        a {
            display: inline;
            position: relative;
            text-align: center;
            width: 23%;
            float: left;

            .numero {
                border: 0 solid #333;
                border-radius: 35px;
                background-color: #333;
                color: #fff;
                font-size: 1.7em;
                width: 35px;
                height: 35px;
                position: absolute;
                left: 50%;
                margin-left: -17px;
                line-height: 35px;
                text-indent: -2px;
                top: -10px;
                @include transform-scale(1,1,250ms,ease-out);

                &:hover {
                    @include transform-scale(1.3,1.3,250ms,ease-out);
                }
            }
            //no lo coge
            .texto {
                color: #333333;
                display: inline-block;
                padding-top: 2.5em;
            }
        }
    }
}

.btn {
    font-size: 1em;
}



.boton {
    color: #333;
    font-size: 1em;
    line-height: 2.333em;
    text-align: center;
    margin: 0.583em 0.167em 0 .167em;
    padding-left: .75em;
    padding-right: .75em;
    box-shadow: 0.083em 0 0.25em rgba(0,0,0,.3);
    border: .083em solid #c4c4c4;
    border-radius: .417em;
    height: 2.583em;
    min-width: 11.25em;

    @include linear-gradient(to bottom, #f0f0f0 0%, #e8e8e8 23%, #d0d0d0 70%, #cccccc 93%, lightgray 97%, #f8f8f8 100%);

    &:hover {
        @include linear-gradient(to bottom, #d8d8d8 5%, white 8%, #d8d8d8 47%, #cccccc 49%, #b7b7b7 92%, #777777 100%);
    }

    &:active {
        @include linear-gradient(to bottom, #a0a0a0 0%, #c4c4c4 9%, #d0d0d0 9%, #e8e8e8 28%, #c6c6c6 74%);
    }

    &.accion {
        color: white;
        box-shadow: 0.083em 0.083em 0.25em rgba(0, 0, 0, 0.5) inset;
        @include linear-gradient(to bottom, #717171 3%, #717171 41%, #6f6f6f 48%, #5d5d5d 72%, #595959 83%, #5a5a5a 86%, #636363 93%, #737373 100%);

        &:hover {
            @include linear-gradient(to bottom, #5b5b5b 4%, #636363 43%, #565656 45%, #4c4c4c 90%, #2b2b2b 100%);
        }

        &:active {
            @include linear-gradient(to bottom, #2b2b2b 1%, #4c4c4c 90%);
        }
    }

    &.predeterminado {
        color: white;
        box-shadow: 0.083em 0.083em 0.25em rgba(0, 0, 0, 0.5) inset;
        background: #9a0000;

        &:hover {
            background: #7a0000;
        }

        &:active {
            background: #650000;
        }
    }
}

.boton-desplegable {
    position: relative;
}

.botonera {
    height: 3.833em;
    margin: 1.667em 0 1.667em 0;
    @include linear-gradient(to bottom, #f0f0f0 0%, #ebebeb 6%, #dddddd 17%, #d8d8d8 26%, #cdcdcd 68%, #cccccc 91%, #cdcdcd 94%, #d5d5d5 96%, #f4f4f4 100%);
    border-radius: 0.25em;
    border: 0.083em solid #bbb;
}

.izquierda {
    float: left;
    padding-left: 15px;
    padding-right: 20px;
}

.centro {
    float: right;
}

.derecha {
    @extend .centro;
    padding-left: 20px;
    padding-right: 15px;
}

a {
    color: #999999;
    cursor: pointer;
    text-decoration: underline;
    outline: none;

    &:hover {
        color: #ed1c2e;
    }

    &:active {
        outline: none;
    }
}
///pendiente
#footer {
    position: relative;
    height: 65px;
    clear: both;
}

.pie-pagina {
    position: relative;
    clear: both;
    display: block;
    background-color: #333333;
    height: 65px;
    width: 73em;
    margin: 0 auto;


    li {
        display: inline-block;
        float: right;
        margin-left: 10px;
        border-left: 1px solid #777777;
        padding-left: 10px;
        height: 1em;
        line-height: 1em;

        a {
            color: white;
            font-size: 0.87em;
        }
    }

    li:last-child {
        border-left: none;
    }
}

.erroresSeccion {
    display: none;
    clear: both;
    font-weight: normal;
}



.bloque-formulario {
    background-color: #eaeaea;
    box-shadow: inset 0 0 0 1px #999;
    border-radius: 0.833em;
    border-radius: 0.833em;
    padding-top: 1.667em;
    margin-top: 1.667em;

    legend {
        color: white;
        font-weight: bold;
        font-size: 1.3em;
        padding: 0.577em;
        line-height: 1.5em;
        border-radius: 0.385em 0.385em 0 0;
        padding-left: 1.154em;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
        background-color: #666;

        &.sin-margen {
            margin-bottom: 0;
        }
    }
}

.listado-links {
    padding-bottom: 15px;

    a {
        text-decoration: none;
        color: #333333;
    }
}

.pasosInicio {
    padding-bottom: 10px;
    display: block;

    li {
        cursor: pointer;
        min-height: 265px;
        margin-left: 5px;
    }
}

.boxList {
    margin: 0;
    padding: 0;

    &.dim4 li {
        width: 23.507%;
    }

    li {
        cursor: default;
        position: relative;
        min-height: 100%;
        float: left;
        border: 1px solid #a0a0a0;
        border-radius: 10px;
        padding: 10px;
        margin-right: 8px;
        box-shadow: inset 3px 4px 12px -5px #000;
        //background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        @include linear-gradient(to bottom, #ffffff 0%, #fefefe 100%);
        @include transform-scale(1,1,250ms,ease-out);

        &:hover {
            @include transform-scale(1.03,1.03, 250ms, ease-out);
        }
    }
}

.avisoFieldset {
    font-size: 0.917em;

    legend {
        background-color: rgba(224, 178, 33, 0.44);
        color: #504025;
        font-weight: normal;
        text-shadow: none;
        font-size: 1em;
        margin: 0;
        padding: 3px;
        border-bottom: 0;
    }

    &:hover legend {
        background-color: #ffa300;
        color: #000000;
        font-weight: normal;
    }

    ul {
        margin: 0px;
        border: 1px solid #EBABAB;
        border-top: none;
        padding: 6px;
        color: #504025;
    }
}

.errorFieldset {
    font-size: 0.917em;

    legend {
        background-color: rgba(190, 46, 46, 0.24);
        color: #504025;
        text-shadow: none;
        font-size: 1em;
        font-weight: normal;
        margin: 0;
        padding: 3px;
        border-bottom: 0;
    }

    &:hover legend {
        background-color: #CF7079;
        color: black;
    }

    legend .eliminar {
        text-decoration: none;
        color: #333333;
    }

    ul {
        margin: 0px;
        border: 1px solid #EBABAB;
        border-top: none;
        padding: 6px;
        color: #504025;
    }
}

.seccionConEstados {
    clear: both;

    .texto {
        margin-top: 0.333em;
    }

    .item {
        margin: 0.833em;
        border-radius: 0.5em;
        padding: 0.417em;
        border: 1px solid #999;
        cursor: pointer;
        color: black;
        background-color: rgba(255, 255, 255, 0.9);

        fieldset {
            margin-bottom: 7px;
            margin-top: 4px;
        }


        &:hover {
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4) !important;
            font-size: 1.05em;
            margin: 0.794em;
            padding: 0.397em;

            .texto {
                margin-top: 0.317em;
            }

            fieldset {
                font-size: 0.873em;
            }
        }

        &.error {
            @include linear-gradient(to right, white 45%, #edbdbd 100%);
            box-shadow: inset -10px -7px 20px rgba(255, 0, 0, 0.2);
            border: 1px solid #d60000;
        }

        .mostrarErrores {
            color: #900000;
            text-decoration: underline;
        }
    }
}

//Ocultar por ahora la ventana.
#ayudaOverlay, #datosFiscalesOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 999999;
    display: none;
}

.mensaje {
    border-radius: 10px;
    padding: 12px;
    background-color: #366ab2;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-top: 12px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5) inset;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    text-align: justify;
    min-height: 4.616em;
    cursor: default;

    p {
        display: inline;
    }

    &.error {
        background-color: #b70000;

        &:before {
            font-family: "FontAwesome";
            ///Sirve para fontawesome, pero no para los
            ///que se usas que ya estan alojados
            content: '\f071';
            font-size: 18px;
            color: white;
            display: inline-block;
            padding-right: 10px;
            float: left;
        }
    }

    &.aviso {
        background-color: #F8C134;
        color: #4d3203;

        &:before {
            font-family: "FontAwesome";
            ///Sirve para fontawesome, pero no para los
            ///que se usas que ya estan alojados
            content: "\f06a";
            font-size: 18px;
            color: #492406;
            padding-right: 10px;
            float: left;
        }
    }

    &:before {
        font-family: "FontAwesome";
        ///Sirve para fontawesome, pero no para los
        ///que se usas que ya estan alojados
        content: "\f06a";
        font-size: 18px;
        color: white;
        display: inline-block;
        padding-right: 10px;
        float: left;
        text-align: right;
    }
}

[class^="fa-"]:before, [class*=" fa-"]:before {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    speak: none;
    padding-right: 5px;
}
