@import "mixin";
///Componentes pequeños especificar fuera y luego usar @extend
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 0.75em;
    font-family: Arial;
}

//aqui porcentaje y min-width
.centrado {
    width: 72.5em;
    margin: 0 auto;
}

#menuEspecial {
    display: block;
    overflow: hidden;
    margin: 0.5em 0 0.5em;

    ul {
        background-color: #ccc;
        text-align: right;
        margin: 0.1em 0;
    }

    li {
        display: inline;
        overflow: auto;
    }

    a {
        color: #666;
        padding: 0 0.8em;
        text-decoration: none;
        font-weight: bold;
    }

    .logo {
        background-color: #fff;
        float: right;
        padding: 0 0 0 1em;

        h1 {
            display: inline;
        }

        a {
            background: url(../img/logo_navarra.gif) left top no-repeat;
            width: 120px;
            height: 0.506em;
            display: block;
        }

        span {
            display: none;
        }
    }
}

.cerrar-Sesion {
    float: right;
    margin-top: 2em;
    text-decoration: none;
    margin-right: 0.833em;
}

.pasos {
    height: 15px;
    background-color: #333333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    position: relative;
    //cambiar.
    width: 72.5em;
    margin: 0 auto;

    nav {
        width: 85%;
        float: right;

        a {
            display: inline;
            position: relative;
            text-align: center;
            width: 23%;
            float: left;

             .numero {
                border: 0 solid #333;
                border-radius: 35px;
                background-color: #333;
                color: #fff;
                font-size: 1.7em;
                width: 35px;
                height: 35px;
                position: absolute;
                left: 50%;
                margin-left: -17px;
                line-height: 35px;
                text-indent: -2px;
                top: -10px;
                @include transform-scale(1,1,250ms,ease-out);

                &:hover {
                    @include transform-scale(1.3,1.3,250ms,ease-out);
                }
            }
             //no lo coge
            .activo{
                background-color: white;
                width: 52px;
    height: 52px;
                -webkit-transform: none !important;
                -webkit-transform: none !important;
                transform: none !important;

                &:hover {
                    -webkit-transform: none !important;
                    -webkit-transform: none !important;
                    transform: none !important;
                }
            }

            .texto {
                display: inline-block;
                padding-top: 30px;
            }
        }
    }
}

.btn {
    font-size: 1em;
}

/*.btn-inverse{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    @include linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    &:hover{
        color: #ffffff;
        background-color: #222222;
}
    &:active{
        color: #ffffff;
        background-color: #222222;
    }
}*/

.boton {
    color: #333;
    font-size: 1em;
    line-height: 2.333em;
    text-align: center;
    margin-top: 7px;
    margin-left: .167em;
    margin-right: .167em;
    padding-left: .75em;
    padding-right: .75em;
    box-shadow: 0.083em 0 0.25em rgba(0,0,0,.3);
    border: .083em solid #c4c4c4;
    border-radius: .417em;
    height: 2.583em;
    min-width: 11.25em;

    @include linear-gradient(to bottom, #f0f0f0 0%, #e8e8e8 23%, #d0d0d0 70%, #cccccc 93%, lightgray 97%, #f8f8f8 100%);

    &:hover {
        @include linear-gradient(to bottom, #d8d8d8 5%, white 8%, #d8d8d8 47%, #cccccc 49%, #b7b7b7 92%, #777777 100%);
    }

    &:active {
        @include linear-gradient(to bottom, #a0a0a0 0%, #c4c4c4 9%, #d0d0d0 9%, #e8e8e8 28%, #c6c6c6 74%);
    }

    &.accion {
        color: white;
        box-shadow: 0.083em 0.083em 0.25em rgba(0, 0, 0, 0.5) inset;
        @include linear-gradient(to bottom, #717171 3%, #717171 41%, #6f6f6f 48%, #5d5d5d 72%, #595959 83%, #5a5a5a 86%, #636363 93%, #737373 100%);

        &:hover {
            @include linear-gradient(to bottom, #5b5b5b 4%, #636363 43%, #565656 45%, #4c4c4c 90%, #2b2b2b 100%);
        }

        &:active {
            @include linear-gradient(to bottom, #2b2b2b 1%, #4c4c4c 90%);
        }
    }

    &.predeterminado {
        color: white;
        box-shadow: 0.083em 0.083em 0.25em rgba(0, 0, 0, 0.5) inset;
        background: #9a0000;

        &:hover {
            background: #7a0000;
        }

        &:active {
            background: #650000;
        }
    }
}



a {
    color: #999999;
    cursor: pointer;
    text-decoration: underline;
    outline: none;

    &:hover {
        color: #ed1c2e;
    }

    &:active {
        outline: none;
    }
}
///pendiente
#footer {
    position: relative;
    height: 65px;
    clear: both;
}

.pie-pagina {
    position: relative;
    clear: both;
    display: block;
    background-color: #333333;
    height: 65px;
    width: 73em;
    margin: 0 auto;


    li {
        display: inline-block;
        float: right;
        margin-left: 10px;
        border-left: 1px solid #777777;
        padding-left: 10px;
        height: 1em;
        line-height: 1em;

        a {
            color: white;
            font-size: 0.87em;
        }
    }

    li:last-child {
        border-left: none;
    }
}

.erroresSeccion {
    display: none;
    clear: both;
    font-weight: normal;
}



.bloque-formulario {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #eaeaea;
    border-radius: 10px;
    position: relative;
    box-shadow: inset 0 0 0 1px #999;

    legend {
        color: white;
        font-size: 1.3em;
        font-weight: bold;
        line-height: 1.5em;
        background-color: #666;
        margin-bottom: 0;
        padding: 9px;
        padding-left: 18px;
        border-radius: 6px;
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
        display: block;

        &.sin-margen {
            margin-bottom: 0;
        }
    }
}

.listado-links {
    padding-bottom: 15px;

    a {
        text-decoration: none;
        color: #333333;
    }
}

.pasosInicio {
    padding-bottom: 10px;

    li {
        cursor: pointer;
        min-height: 265px;
        margin-left: 5px;
    }
}

.boxList {
    .dim4 li {
        width: 205px;
    }

    li {
        cursor: default;
        position: relative;
        min-height: 100%;
        float: left;
        border: 1px solid #a0a0a0;
        border-radius: 10px;
        padding: 10px;
        margin-right: 8px;
        box-shadow: inset 3px 4px 12px -5px #000;
        //background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        @include linear-gradient(to bottom, #ffffff 0%, #fefefe 100%);
        @include transform-scale(1,1,250ms,ease-out);

        &:hover {
            @include transform-scale(1.03,1.03, 250ms, ease-out);
        }
    }
}

.avisoFieldset {
    legend {
        background-color: rgba(224, 178, 33, 0.44);
        color: #504025;
        font-weight: normal;
    }

    &:hover legend {
        background-color: #ffa300;
        color: #000000;
        font-weight: normal;
    }
}

.errorFieldset {
    legend {
        background-color: rgba(190, 46, 46, 0.24);
        color: #504025;
        text-shadow: none;
        font-size: 11px;
        font-weight: normal;
        margin: 0;
        position: static;
        display: inline-block;
        padding: 3px;
        border-bottom: 0;
    }

    &:hover legend {
        background-color: #CF7079;
        color: black;
    }

    legend .eliminar {
        text-decoration: none;
        color: #333333;
    }
}
//Mucha anidacion.
.seccionConEstados {
    clear: both;

    .item {
        /*display: block;
        margin: 10px;
        padding: 5px;
        border-radius: 6px;
        position: relative;
        cursor: pointer;
        color: black;
        background-color: rgba(255, 255, 255, 0.9);*/
        /*&.erroresSeccion {
            display: none;
            clear: both;
            font-weight: normal;
        }*/
        .mostrarErrores {
            color: #900000;
            font-weight: normal;
            text-decoration: underline;
            display: inline-block;
            float: left;
            clear: both;
        }

        .apartadosSeccion {
            fieldset legend {
                background-color: #aaaaaa;
                color: #222222;
            }
        }

        fieldset legend {
            color: #504025;
            font-size: 11px;
            font-weight: normal;
            margin: 0;
            padding: 3px;
            border-bottom: 0;
            text-shadow: none;
            position: static;
            display: inline-block;
        }

        .avisoFieldset {
            @extend .avisoFieldset;
        }

        .errorFieldset {
            @extend .errorFieldset;
        }
    }
}

.mensaje {
    border-radius: 10px;
    padding: 12px;
    background-color: #366ab2;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-top: 12px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5) inset;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    text-align: justify;
    min-height: 4.616em;
    cursor: default;

    p {
        display: inline;
    }

    &.error {
        background-color: #b70000;

        &:before {
            font-family: "FontAwesome";
            content: '\f071';
            font-size: 18px;
            color: white;
            display: inline-block;
            padding-right: 10px;
            float: left;
        }
    }

    &.aviso {
        background-color: #F8C134;
        color: #4d3203;

        &:before {
            font-family: "FontAwesome";
            content: "\f06a";
            font-size: 18px;
            color: #492406;
            /* display: inline-block; */
            padding-right: 10px;
            float: left;
            /* text-align: right; */
        }
    }

    &:before {
        font-family: "FontAwesome";
        content: "\f06a";
        font-size: 18px;
        color: white;
        display: inline-block;
        padding-right: 10px;
        float: left;
        text-align: right;
    }
}

[class^="fa-"]:before, [class*=" fa-"]:before {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    speak: none;
    padding-right: 5px;
}
