body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

/*ul {
    background-color:cornflowerblue
}*/

li {
    list-style: none;

}

    /*li:hover {
        background-color:darkturquoise
    }*/